image: node:latest

stages:
  - build # Jobs placed in build stage will run first
  - test # Jobs placed in test stage will run after build jobs

install:
  stage: build # The install job will be run before the prettier, typescript and test jobs
  script:
    - cd smartmat
    - npm install
  artifacts: # Keep node_modules folder for the following stages
    paths:
      - node_modules


unit test:
  stage: test # The test job will run in parallel with the prettier and typescript jobs
  script:
    - cd smartmat
    - npm ci
    - npm run test:unit


e2e tests:
    stage: test
    script:
      - cd smartmat
      # install dependencies
      - npm ci
      # start the server in the background
      - npm run start:ci &
      # run Cypress tests
      - npm run test:e2e