

 #user {
     font-size: 15vh;
     font-variation-settings:
             'FILL' 1,
             'wght' 400,
             'GRAD' 200,
             'opsz' 48
 }

#loggedin-user{
}
.logout-Btn {
    font-family: Hack, monospace;
    background: #6dbd5e;
    color: #2c2c2c;
    cursor: pointer;
    font-size: 1.5em;
    padding: 0.8em;
    border: 0;
    transition: all 0.5s;
    border-radius: 0.4em;
    width: auto;
    position: relative;
    min-width: 5em;
}

.logout-Btn#logout{
    visibility: hidden;
}

.logout-Btn::after {
    font-family: "Material Icons";
    position: absolute;
    left: 70%;
    top: 55%;
    right: 0;
    bottom: 0;
    opacity: 0;
    transform: translate(-50%, -50%);
}

.logout-Btn::after.material-symbols-outlined {
    font-variation-settings: 'FILL' 1,
    'wght' 700,
    'GRAD' 200,
    'opsz' 48

}

.logout-Btn:hover {
    background: black;
    transition: all 0.5s;
    border-radius: 0.5em;
    box-shadow: 0px 1em 2em #6dbd5e;
    padding: 0.9em 2em 0.9em 1em;
    color: #ffffff;
}

.logout-Btn:hover::after {
     opacity: 1;
     transition: all 0.5s;
     color: #ffffff;

 }

#buttons{
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}


@media (max-width: 500px) {
    .container {
        text-align: center;
        border: 1em solid #fafffa;
        font-size: 1.5em;
        font-family: Hack, monospace;
        border-radius: 2em;
        box-shadow: rgba(0, 0, 0, 0.25) 0em 1em 3em, rgba(0, 0, 0, 0.22) 0em 1em 1em;
        background-color: #fafffa;
        height: 25em;
        width: 70vw;
        margin: 1em auto auto;
    }
}

@media (min-width: 501px) {
    .container {
        text-align: center;
        border: 1em solid #fafffa;
        font-size: 1.5em;
        font-family: Hack, monospace;
        border-radius: 2em;
        box-shadow: rgba(0, 0, 0, 0.25) 0em 1em 3em, rgba(0, 0, 0, 0.22) 0em 1em 1em;
        background-color: #fafffa;
        height: 28em;
        width: 20em;
        margin-top: 1em;
    }
}



