.container {
    max-width: 500px;
    margin: 30px auto;
    overflow: auto;
    padding: 30px;
    border-radius: 5px;
}

.Btn {
    margin: 20px auto;
    text-align: center;
}

.BlueBtn {
    background: #0b6dff;
    border: 0;
    padding: 10px 20px;
    color: white;
    border-radius: 5px;
}

.GreyBtn {
    background: #d0cece;
    border: 0;
    padding: 10px 20px;
    color: black;
    border-radius: 5px
}

@media (min-width: 501px) {
    #whitespace {
        height: 10vh;
    }
}

@media (max-width: 500px ) {
    .container {
        margin: 0;
        padding: 20px;
        border: none;
    }
}


.BlueBtn:hover {
    background-color: #4169a8;
    cursor: pointer;
}

.GreyBtn:hover {
    background-color: #b7b7b7;
    cursor: pointer;
}