.dropdown {
    position: relative;
    display: inline-block;
    width: 100%;
}
.dropdown a:hover {
    text-decoration: none;
}

.dropdown-toggle {
    display: inline-block;
    border-radius: 2px 2px 0 0;
    width: 100%;
}
.dropdown-toggle input {
    border: none;
    background: #0002;
    padding: 0.5rem;
    outline: none;
    color: gray;
    border-radius: 4px;
    width: 100%;
}

.dropdown-toggle:hover input {
    background: #0004;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    float: left;
    min-width: 160px;
    width: 100%;
    padding: 10px 20px 10px 10px;
    margin: 0 0 0;
    list-style: none;
    font-size: 14px;
    text-align: left;
    background-color: #fff;
    border: 1px solid #ccc;
    border-top: none;
    border-radius: 4px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;
}

.dropdown-menu > li > a {
    padding: 10px 20px;
    display: block;
    clear: both;
    font-weight: normal;
    line-height: 1.6;
    color: #333333;
    white-space: nowrap;
    text-decoration: none;
    max-width: 100%;
}
.dropdown-menu > li > a:hover {
    background: #efefef;
    color: #409fcb;
    border-radius: 4px;
}

.dropdown-menu > li {
    overflow: hidden;
    position: relative;
    margin: 0;
}

li {
    list-style: none;
}
