

/*
separate css version for phone, to make it fit nicely into the phone screen
 */
@media (max-width: 414px) {

    #border {
        width: 110%;
        border: 5px solid black;
        padding: 20px;
        height: 700px;
        transform-style: preserve-3d;
        display: block;
        box-sizing: border-box;
        transform: rotate(90deg) translateX(60%) translateY(25%);
        margin-left: 100%;
        margin-top: -350px;
        margin-bottom: -300px;

    }


    /*
    styling for the text on the page "handleliste", "Ukemeny" and "Kjøleskap"
     */
    #border h1 {
        text-align: center;
        color: black;
        font-size: 500%;
        font-family: "Times New Roman", serif;
        transform: rotate(270deg);
        margin: 150px 0 10px 10px;
        text-decoration: none !important;
        border-bottom: none !important;



    }

    /*
    Styling for the two images on the page inside the borders of "Handlelite" and "kjøleskap"
     */
    .fa-icon-cart-frontPage{

        max-width: 60%;
        height: auto;
        margin-top: 170px;
        margin-left: 80px;
        transform: rotate(270deg);
        color: #000000;
    }
    .fa-icon-cutlery-frontPage{

        max-width: 50%;
        height: auto;
        margin-top: 150px;
        margin-left:80px;
        transform: rotate(270deg);
        color: #000000;
    }
    .fridge-frontPage{
        max-width: 50%;
        font-size: 100px;
        margin-top: -240px;
        margin-left: 80px;
        transform: rotate(270deg);
        width: 1000px;
        height: 1000px;
        color: #000000;
    }

    a{
        text-decoration: none;
    }


    /*
    styling for the user icon in the corner
     */
    .fa-icon {
        font-family: "Font Awesome 5 Free", serif;
        font-size: 15px;
        color: black;
        position: fixed;
        top: 30px;
        right: 30px;
        z-index: 9999;
        cursor: pointer;
    }
}


/*
Styling for the borders for the computer version
 */
@media (min-width:415px) {
    #border {
        width: 300px;
        border: 5px solid black;
        padding: 40px;
        height: 450px;
        margin: 10px;
        cursor: pointer;
        display: inline-block;
        position: relative;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        transform-style: preserve-3d;
        transform: rotateX(0deg) rotateY(0deg);
    }

    #outer-border{
        display: flex;
        margin-top: 150px;

    }


    /* Tilt to the right when cursor enters from right side */
    #border:hover {
        transform-origin: center;
        transform: rotateY(-10deg) rotateX(10deg);
    }

    /* Tilt to the left when cursor enters from left side */
    #border:hover:hover:before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        transform-origin: center;
        transform: rotateY(10deg) rotateX(10deg);
        z-index: -1;
    }

    /**
    css for text "kjøleskap", "ukemeny" and "Handleliste"
     */
    #border h1 {
        text-align: center;
        color: black;
        font-size: 40px;
        font-family: "Times New Roman", serif;

    }

    a{
        text-decoration: none;
    }

    .fridge-frontPage{
        max-width: 70%;
        font-size: 100px;
        margin-top: -350px;
        margin-left: 20px;
        height: 1000px;
        color: #000000;
    }


    /**
    special css for weekly menu image to make it wanted position
     */
    .fa-icon-cart-frontPage{
        width: 70%;
        height: 100%;
        alignment: center;
        display: flex;
        justify-content: center;
        margin-top: -30px;
        margin-left: 20px;
        color: #000000FF;
    }

    /**
   special css for weekly menu image to make it wanted position
    */
    .fa-icon-cutlery-frontPage{
        width: 70%;
        height: 100%;
        alignment: center;
        display: flex;
        justify-content: center;
        margin-top: -30px;
        margin-left: 20px;
        color: #000000FF;
    }
}


