

@media (max-width:500px) {
    .card {
        border: 1vh solid black;
        height: 25vh;
        transform-style: preserve-3d;
        display: block;
        box-sizing: border-box;
        border-radius: 5vh;
        text-align: center;
    }
    #outer-border{
        display: flex;
        flex-direction: column;
        position: relative;
        gap: 2vh;
        top: -5vh;
    }


    /*
    styling for the text on the page "handleliste", "Ukemeny" and "Kjøleskap"
     */
    .card h1 {
        text-align: center;
        color: black;
        font-family: "Times New Roman", serif;
        position: relative;
        top: 5vh;
    }

    a{
        text-decoration: none;
    }

    .material-symbols-outlined {

        color: black;
        font-size: 15vh;
        position: relative;
        top: -7vh;
        left: -20vh;

        font-variation-settings:
                'FILL' 1,
                'wght' 700,
                'GRAD' 200,
                'opsz' 48
    }

}
/*
Styling for the borders for the computer version
 */
@media (min-width:501px) {
    .card {
        width: 25vh;
        border: 1vh solid black;
        padding: 5vh;
        height: 40vh;
        margin: 1vh;
        cursor: pointer;
        display: inline-block;
        position: relative;
        box-shadow: 0 0 2vh rgba(0, 0, 0, 0.5);
        transform-style: preserve-3d;
        transform: rotateX(0deg) rotateY(0deg);
        border-radius: 5vh;
    }

    #outer-border{
        display: flex;
        margin-top: 150px;
        justify-content: center;
        height: 60vh;
    }
    #outer-border img{
        height: 40vh;
        margin-top: 0;
    }


    /* Tilt to the right when cursor enters from right side */
    .card:hover {
        transform-origin: center;
        transform: rotateY(-10deg) rotateX(10deg);
    }

    /* Tilt to the left when cursor enters from left side */
    .card:hover:hover:before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        transform-origin: center;
        transform: rotateY(10deg) rotateX(10deg);
        z-index: -1;
    }

    /**
    css for text "kjøleskap", "ukemeny" and "Handleliste"
     */
    .card h1 {
        text-align: center;
        color: black;
        font-size: 5vh;
        font-family: "Times New Roman", serif;

    }

    a{
        text-decoration: none;
        height: 52vh;
        border-radius: 5vh;
    }


 .material-symbols-outlined {

     color: black;
     font-size: 23vh;

     font-variation-settings:
             'FILL' 1,
             'wght' 700,
             'GRAD' 200,
             'opsz' 48
 }


}


