

@media (max-width:500px) {
    .card {
        display: none;
    }
    #outer-border{
        display: none;
    }

    .card h1 {
        display: none;
    }

    a{
        text-decoration: none;
    }

    .material-symbols-outlined {

        display: none;

    }

}
/*
Styling for the borders for the computer version
 */
@media (min-width:501px) {
    .card {
        width: 14em;
        border: 1em solid black;
        padding: 5em;
        height: 24em;
        margin: 1em;
        cursor: pointer;
        display: inline-block;
        position: relative;
        box-shadow: 0 0 2em rgba(0, 0, 0, 0.5);
        transform-style: preserve-3d;
        transform: rotateX(0deg) rotateY(0deg);
        border-radius: 5em;
    }

    #outer-border{
        display: flex;
        justify-content: center;
        height: 60em;
        width: 90em;
        align-items: center;
        margin: auto;
    }


    /* Tilt to the right when cursor enters from right side */
    .card:hover {
        transform-origin: center;
        transform: rotateY(-10deg) rotateX(10deg);
    }

    /* Tilt to the left when cursor enters from left side */
    .card:hover:hover:before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        transform-origin: center;
        transform: rotateY(10deg) rotateX(10deg);
        z-index: -1;
    }

    /**
    css for text "kjøleskap", "ukemeny" and "Handleliste"
     */
    .card h1 {
        text-align: center;
        color: black;
        font-size: 2em;
        font-family: Hack, monospace;

    }

    a{
        text-decoration: none;
        height: 52em;
        border-radius: 5em;
    }


 .material-symbols-outlined {

     color: black;
     font-size: 14em;
     text-align: center;
     align-items: center;

     font-variation-settings:
             'FILL' 1,
             'wght' 700,
             'GRAD' 200,
             'opsz' 48
 }


}


