.thumbnail{
    margin: 0;
    width: 50px;
}
#title{
    font-weight: bold;
    width: fit-content;
}
.container{
    margin: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    font-family: Hack, monospace;
    border: #67bb51 2px solid;

}
#grocery-left{
    margin-left: 0;
}
.Btn{
    border: 0;
    width: fit-content;
    padding: 5%;
    border-radius: 5px;
    margin: 0;
}
#grocery-right{
    margin-right: 0;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
}
.buttonBar{
    margin-right: 0;
    width: 100%;
    align-self: end;

}
#category{
    text-align: end;
}

#eatBtn{
    background: #48bd00;
    color: black;
    float: right;
    width: 20%;
}

#eatBtn:hover {
    background-color: #48bd00;
    cursor: pointer;
    color: white;
    transform: scale(1.1);

}
.red{
    color:red
}
.right{
    text-align: right;
}