

.loginLabel{
    size: 4vh;
    float: left;
    margin-top: 2vh;
}

#login-username {
    size: 1vh;
    alignment: center;
    background-color: #b1f6b3;
    border: #d0cece ;
    border-radius: 1vh;
    font-family: Hack, monospace;


}
#login-password{
    size: 1vh;
    alignment: center;
    background-color: #b1f6b3;
    border: #d0cece ;
    border-radius: 1vh;
}

#loginBtn{
    margin-top: 4vh;
    background-color: #42b983;
    font-family: Hack, monospace;
    font-size: 2vh;
    box-shadow: rgba(0, 0, 0, 0.25) 0vh 2vh 4vh, rgba(0, 0, 0, 0.22) 0vh 1vh 1vh;
    width: 25vh;
    margin-bottom: 1vh;
}
#loginBtn:hover{
    background-color: #348f69;
}
#registerBtn{
    font-family: Hack, monospace;
    font-size: 2vh;
    box-shadow: rgba(0, 0, 0, 0.25) 0vh 2vh 4vh, rgba(0, 0, 0, 0.22) 0vh 1vh 1vh;
    width: 30vh;
}



input{
    font-family: Hack, monospace;
    width: 100%;
    margin: auto;
    vertical-align: center;
    padding: 3%;
}

#error{
    color:red
}


@media (min-width: 501px) {


    .container{
        text-align: center;
        border: 1vh solid #fafffa;
        font-size: 3vh;
        height: 65vh;
        width: 40vh;
        font-family: Hack, monospace;
        margin-top: 12vh;
        border-radius: 2vh;
        box-shadow: rgba(0, 0, 0, 0.25) 0vh 4vh 7vh, rgba(0, 0, 0, 0.22) 0vh 3vh 3vh;
        background-color: #fafffa;

    }
}

@media (max-width: 500px) {
    .container{
        text-align: center;
        border: 1vh solid #fafffa;
        font-size: 3vh;
        height: 65vh;
        width: 40vh;
        font-family: Hack, monospace;
        margin-top: 12vh ;
        border-radius: 2vh;
        box-shadow: rgba(0, 0, 0, 0.25) 0vh 4vh 7vh, rgba(0, 0, 0, 0.22) 0vh 3vh 3vh;
        background-color: #fafffa;
        margin-left: 12vh;


    }

}
