.loginField{
    max-width: 100%;
    margin: 0 auto;
    display: grid;
    align-items: center;
    justify-items: center;
    top: 30%;
    font-size: 1.2em;


}
.loginLabel{
    font-weight: bold;
}


input[type=text]{
    margin-bottom: 15%;
    font-size: 1.2em;
    width: 100%;
    text-align: center;


}

button{
    font-size: 1em;
    font-weight: bold;

}
button:hover{

    background-color: lightsteelblue;
}