.loginField{
    max-width: 100%;
    margin: 0 auto;
    display: grid;
    align-items: center;
    justify-items: center;
    top: 30%;
    font-size: 1.2em;
}
.loginLabel{
    font-weight: bold;
}


input{
    width: 100%;
    margin: auto;
    vertical-align: center;
    padding: 3%;
}
