@import './base.css';

#app {
  max-width: none;
  min-width: 70%;
  min-height: 90vh;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}
@media (min-width: 1024px) {
  body {
    display: flex;
  }
}
