

nav a{
    color: black;
}


nav{
    font-size: 4vh;
    height: 6vh;
    display: flex;
    gap: 3vh;
    margin-top: 2vh;
    margin-right: 3vh;
    z-index: 9999;
}
.material-symbols-outlined {
    font-size: 5vh;
    font-variation-settings:
            'FILL' 1,
            'wght' 700,
            'GRAD' 200,
            'opsz' 48
}



/*
separate css version for phone, to make it fit nicely into the phone screen
 */
@media (max-width:500px) {
    #top-navbar{
        visibility: hidden;
    }
    #bottom-navbar{
        display: flex;
        background-color: #C43168;
        justify-content: center;
        position: fixed;
        bottom: 0;
        z-index: 9999;
        left: 0;
    }
    #bottom-navbar nav{
        gap: 8vh;
    }
}


/*
Styling for the borders for the computer version
 */
@media (min-width:501px) {
    #top-navbar{
        display: flex;
        background-color: #C43168;
        justify-content: right;
        position: fixed;
        z-index: 9999;
        left: 0;
    }


    #bottom-navbar{
        visibility: hidden;
    }
}

