
nav a {
    color: black;
}


nav {
    font-size: 1em;
    height: 3.5em;
    display: flex;
    margin-top: 1em;
    margin-right: 1em;
    z-index: 9999;

}

.material-symbols-outlined {
    background: linear-gradient(rgb(0, 0, 0), rgb(0, 0, 0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: background 0.5s;
    font-size: 5vh;
    font-variation-settings: 'FILL' 1,
    'wght' 700,
    'GRAD' 200,
    'opsz' 48
}



/*
Phone version
 */
@media (max-width: 500px) {
    #top-navbar {
        display: none;
    }

    #bottom-navbar {
        display: flex;
        background-color: #6dbd5e;
        justify-content: center;
        position: fixed;
        bottom: 0;
        z-index: 9999;
        left: 0;
        opacity: 1;
    }

    #bottom-navbar nav {
        gap: 8em;
        z-index: 9999;

    }

    #nav-icons {
        gap: 2.5em;
        display: flex;

    }

    #except-user-top {
        gap: 2.5em;
        display: flex;
    }

    #all-icons-bottom {
        display: flex;
        gap: 2.5em;
    }

    #logo {
        display: none;
    }
}


/*
Computer version
 */
@media (min-width: 501px) {
    #top-navbar {
        display: flex;
        background-color: #6dbd5e;
        position: fixed;
        z-index: 9999;
        left: 0;
        opacity: 1;
    }


    #bottom-navbar {
        display: none;
    }

    .material-symbols-outlined:hover {
        transform: scale(1.2);
        background: linear-gradient(to right, #5e5e5e, #384238);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        transition: all 0.2s ease;
    }

    #nav-icons {
        gap: 0.7em;
        display: flex;
    }

    #except-user-top {
        gap: 0.8em;
        display: flex;
    }

    #all-icons-bottom {
        visibility: hidden;
    }

    #logo {
        width: 6em;
        height: auto;
        float: left;
        left: 2em;
        position: relative;
    }

    #logo-frame {
        float: left;
    }
    header {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

}

