
nav a{
    color: black;
}


nav{
    font-size: 4vh;
    height: 6vh;
    display: flex;
    gap: 3vh;
    margin-top: 2vh;
    margin-right: 3vh;
    z-index: 9999;

}
.material-symbols-outlined {
    background: linear-gradient(rgb(0, 0, 0), rgb(0, 0, 0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: background 0.5s;
    font-size: 5vh;
    font-variation-settings:
            'FILL' 1,
            'wght' 700,
            'GRAD' 200,
            'opsz' 48
}

#placeholder-space{
    width: 140vh;
}


/*
Phone version
 */
@media (max-width:500px) {
    #top-navbar{
        visibility: hidden;
    }
    #bottom-navbar{
        display: flex;
        background-color: rgba(23, 129, 3, 0.65);
        justify-content: center;
        position: fixed;
        bottom: 0;
        z-index: 9999;
        left: 0;
    }
    #bottom-navbar nav{
        gap: 8vh;
    }
    #nav-icons{
        gap: 7vh;
        display: flex;

    }
    #except-user-top{
        gap: 7vh;
        display: flex;
    }
    #all-icons-bottom{
        gap: 7vh;
        display: flex;
    }
    #logo{
        display: none;
    }
}


/*
Computer version
 */
@media (min-width:501px) {
    #top-navbar{
        display: flex;
        background-color: rgba(23, 129, 3, 0.65);
        justify-content: right;
        position: fixed;
        z-index: 9999;
        left: 0;
    }


    #bottom-navbar{
        visibility: hidden;
    }
    .material-symbols-outlined:hover {
        transform: scale(1.2);
        background: linear-gradient(to right, #5e5e5e, #384238);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        transition: all 0.2s ease;
    }

    #nav-icons{
        gap: 3vh;
        display: flex;
    }
    #except-user-top{
        gap: 3vh;
        display: flex;
    }

    #all-icons-bottom{
        visibility: hidden;
    }

    #logo{
        width: 12vh;
        height:auto;
        float: left;
    }
    #logo-frame{
        float: left;
    }

}

