
/*
separate css version for phone, to make it fit nicely into the phone screen
 */
@media (max-width: 414px) {

    nav{
        font-size: 50px;
        color: black;
        position: fixed;
        top: 1190px;
        right: 20px;
        z-index: 9999; /* Make sure the icon is on top of other content */
        cursor: pointer;
        display: flex;
        gap: 110px;
        align-items: center;

    }
    nav a{
        color: black;
    }

    nav img{
        width: 40px;
        margin-top: 10px;
    }
    #navbar-frame{
        border: solid 60px #20A877FF;
        position: fixed;
        width: 1100px;
        max-height: 10px;
        margin-top: 1155px;
        margin-left: -34px;
        padding: -10px;
        z-index: 9999;

    }
    /*922*/



    /*
    !* Style user icon *!
    .fa-icon-cart {
        font-size: 50px;
        color: black;
        position: fixed;
        top: 1505px;
        right: 220px;
        z-index: 9999; !* Make sure the icon is on top of other content *!
        cursor: pointer;
    }
    .fa-icon-home{
        font-size: 50px;
        color: black;
        position: fixed;
        top: 1505px;
        right: 400px;
        z-index: 9999; !* Make sure the icon is on top of other content *!
        cursor: pointer;
    }
    .fa-icon-cutlery{
        font-size: 50px;
        color: black;
        position: fixed;
        top: 1505px;
        right: 600px;
        z-index: 9999; !* Make sure the icon is on top of other content *!
        cursor: pointer;
    }
    .fridge{

        width: 140px;
        color: black;
        position: fixed;
        top: 1460px;
        right: 725px;
        z-index: 9999; !* Make sure the icon is on top of other content *!
        cursor: pointer;

    }*/
}

/*
Styling for the borders for the computer version
 */
@media (min-width:415px) {
    /*
    styling for the user icon in the corner
    */
    nav{
        font-size: 40px;
        color: black;
        position: fixed;
        top: 1200px;
        right: 20px;
        z-index: 9999;
        cursor: pointer;
        display: flex;
        gap: 50px;
        align-items: center;
        margin-top: -1200px;
    }
    nav a{
        color: black;
    }
    nav img{
        width: 30px;
        margin-top: 13px;
    }
    #navbar-frame{
        border: solid 60px #20A877FF;
        position: fixed;
        width: 200%;
        max-height: 10px;
        margin-top: -70px;
        margin-left: -1000px;
        padding: -10px;
        z-index: 9999;

    }
}
   /* !*
    .fa-icon-user {
        font-size: 25px;
        color: black;
        position: fixed;
        top: 30px;
        right: 30px;
        z-index: 9999;
        cursor: pointer;
    }
    !*
    styling for the user icon in the corner
    *!
    .fa-icon-cart {
        font-size: 25px;
        color: black;
        position: fixed;
        top: 32px;
        right: 70px;
        z-index: 9999;
        cursor: pointer;
    }
    !*
   styling for the user icon in the corner
   *!
    .fa-icon-home {
        font-size: 25px;
        color: black;
        position: fixed;
        top: 32px;
        right: 110px;
        z-index: 9999;
        cursor: pointer;
    }
    .fa-icon-cutlery {
        font-size: 25px;
        color: black;
        position: fixed;
        top: 32px;
        right: 150px;
        z-index: 9999;
        cursor: pointer;
    }
   .fridge{
        width: 70px;
       height: 70px;
       color: black;
       position: fixed;
       top: 11px;
       right: 160px;
       z-index: 9999;
       cursor: pointer;
   }

*/
