.test.h2{
    color: black;
}
.container{
    max-width: none;
    min-height: 100vh;
}

#fridgeContainer {
    text-align: center;
    padding: 0;
    font-family: Hack, monospace;

}

@media (max-width: 500px ) {
    .container {
        padding-bottom: 20%;
    }
}