


input{
    width: 100%;
    margin: auto;
    vertical-align: center;
    padding: 3%;
}

.registerLabel{
    size: 4vh;
    float: left;
    margin-top: 2vh;
    font-family: Hack, monospace;

}

#register-username {
    size: 1vh;
    alignment: center;
    background-color: #b1f6b3;
    border: #d0cece ;
    border-radius: 1vh;
    font-family: Hack, monospace;


}
#register-password{
    size: 1vh;
    alignment: center;
    background-color: #b1f6b3;
    border: #d0cece ;
    border-radius: 1vh;
}

.BlueBtn{
    background-color: #6dbd5e;
    font-family: Hack, monospace;
    font-size: 2vh;
    color: black;
    box-shadow: rgba(0, 0, 0, 0.25) 0vh 2vh 4vh, rgba(0, 0, 0, 0.22) 0vh 1vh 1vh;
    width: 25vh;
    margin: 1%;
}
.BlueBtn:hover{
    background-color: black;
    color: white;
}
#loginBtn{
    font-family: Hack, monospace;
    font-size: 2vh;
    box-shadow: rgba(0, 0, 0, 0.25) 0vh 2vh 4vh, rgba(0, 0, 0, 0.22) 0vh 1vh 1vh;
    width: 30vh;
}



input{
    font-family: Hack, monospace;
    width: 90%;
    margin: auto;
    vertical-align: center;
    padding: 3%;
}

#error{
    color:red
}


#registerBtn {
    width: 80%;
}

#registerpage {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50vh;
    margin: 20vh auto auto;
    align-items: center;
}


#restricted{
    margin-right: 70%;
    margin-top: 5%;
}

#row {
    display: flex;
    justify-content: center;

}

#checkbox {
    width: 10%;
    margin-right:2%;
    margin-left: 13%;
    margin-top: 7%;
}

@media (min-width: 501px) {

    #registerpage{
        text-align: center;
        border: 1vh solid #fafffa;
        font-size: 3vh;
        font-family: Hack, monospace;
        border-radius: 2vh;
        box-shadow: rgba(0, 0, 0, 0.25) 0vh 4vh 7vh, rgba(0, 0, 0, 0.22) 0vh 3vh 3vh;
        background-color: #fafffa;
        margin-left: 35%;
        margin-top: 2%;
    }
}

@media (max-width: 500px) {
    #registerpage{
        text-align: center;
        border: 1vh solid #fafffa;
        font-size: 3vh;
        height: 60%;
        width: 80%;
        margin: 15% auto auto;
        font-family: Hack, monospace;
        border-radius: 2vh;
        box-shadow: rgba(0, 0, 0, 0.25) 0vh 4vh 7vh, rgba(0, 0, 0, 0.22) 0vh 3vh 3vh;
        background-color: #fafffa;
    }

}


