#container{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.decrement{
    margin-left: 5px;
}
.increment{
    margin-right: 5px;
}
.counter{
    display: inline-block;
    justify-content: center;
    align-items: flex-end;
}