.slidecontainer{
    width: 100%;
}
.slider{
    width: 100%;
}
.Btn{
    float: right;
    border: 0;
    width: fit-content;
    padding: 5%;
    border-radius: 5px;
    margin: 0;
}

.throwModalBtn{
    background: #ff2222;
    color: black;
    font-family: Hack, monospace;
    width: 20%;
    align-content: center;
    margin-right: 2%;
    text-align: center;
}

#cancelBtn{
    background: #d5d5d5;
    color: black;
    margin-right: 10px;
}

.throwModalBtn:hover {
    background-color: #ff2222;
    color: white;
    cursor: pointer;
    transform: scale(1.1);
}

#cancelBtn:hover {
    background-color: #b7b7b7;
    cursor: pointer;
}