.carousel__item {
    min-height: 10em;
    padding: 4em;
    background-color: lightblue;
    color: black;
    font-size: 1.2em;
    border-radius: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center;
    max-width: 50em;
    margin: auto;

}

#carousel{
    width: 50em;
    margin: auto;
}

.carousel__slide {
    padding: 5px;
}

.carousel__prev,
.carousel__next {
    box-sizing: content-box;
}

.addToShoppingList {
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    background-color: #f7f7f7;
    border-radius: 1.25em; /* 20px / 16px = 1.25em */
    padding: 1.875em; /* 30px / 16px = 1.875em */
    margin-bottom: 2.5em; /* 40px / 16px = 2.5em */
    width: 50em;
}
img {
    width: 2em;
    height: 2em;
    cursor: pointer;
}
#slideTitle{
    background-color: rgb(76, 75, 75, 0.6);
    color: white;
    text-shadow: 2em 2em 2em black;
    width: 100%;
}
#info{
    text-align: center;
}
.ingredients-title {
    font-size: 2.5em; /* 40px / 16px = 2.5em */
    font-weight: bold;
    margin-bottom: 1.25em; /* 20px / 16px = 1.25em */
    color: #333;
    text-transform: uppercase;
    letter-spacing: 0.125em; /* 2px / 16px = 0.125em */
    text-align: center;
}

.ingredients-text {
    color: #555;
    font-size: 1.25em; /* 20px / 16px = 1.25em */
    line-height: 1.4;
}
