.carousel__item {
    min-height: 10em;
    padding: 4em;
    background-color: lightblue;
    color: black;
    font-size: 1.2em;
    border-radius: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center;
    max-width: 50em;
    margin: auto;

}

#carousel{
    width: 50%;
    margin: auto;
}

.carousel__slide {
    padding: 5px;
}

.carousel__prev,
.carousel__next {
    box-sizing: content-box;
}

.addToShoppingList {
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    background-color: #f7f7f7;
    border-radius: 1.25em; /* 20px / 16px = 1.25em */
    padding: 1.875em; /* 30px / 16px = 1.875em */
    margin-bottom: 2.5em; /* 40px / 16px = 2.5em */
    width: 90%;
}
img {
    width: 2em;
    height: 2em;
    cursor: pointer;
}
#slideTitle{
    background-color: rgb(76, 75, 75, 0.6);
    color: white;
    text-shadow: 2em 2em 2em black;
    width: 100%;
}
#info{
    text-align: center;
}
.ingredients-title {
    font-size: 2.5em; /* 40px / 16px = 2.5em */
    font-weight: bold;
    margin-bottom: 1.25em; /* 20px / 16px = 1.25em */
    color: #333;
    text-transform: uppercase;
    letter-spacing: 0.125em; /* 2px / 16px = 0.125em */
    text-align: center;

}

.ingredients-text {
    color: #555;
    font-size: 1.25em; /* 20px / 16px = 1.25em */
    line-height: 1.4;

}
#page{
    width: 100%;
    padding-bottom: 30px;
}

.carousel__item {
    min-height: 10em;
    padding: 4em;
    background-color: lightblue;
    color: black;
    font-size: 1.2em;
    border-radius: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    margin: auto;

}

#carousel {
    width: 50%;
    margin: auto;
}

.carousel__slide {
    padding: 5px;
}

.carousel__prev,
.carousel__next {
    box-sizing: content-box;
}

.addToShoppingList {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: #f7f7f7;
    border-radius: 1.25em;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}


img {
    width: 2em;
    height: 2em;
    cursor: pointer;
}

#slideTitle {
    background-color: rgb(76, 75, 75, 0.6);
    color: white;
    text-shadow: 2em 2em 2em black;
    width: 100%;

}

#info {
    text-align: center;
    font-family: 'Gloria Hallelujah', cursive;
}

.ingredients-title {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 1.25em;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 0.125em;
    text-align: center;
    font-family: 'Gloria Hallelujah', cursive;
}

.ingredients-text {
    color: #555;
    font-size: 1.25em;
    line-height: 1.4;
    font-family: 'Gloria Hallelujah', cursive;
}

#serving-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    font-family: 'Gloria Hallelujah', cursive;
    font-weight: bold;

}
.incrementbutton{
    margin: 0 10px;
    width: 50px;
    text-align: center;
    font-weight: bold;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    cursor: pointer;
}
